body{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.menu{
  display: flex;
  justify-content: space-around;
  padding: 25px 330px;
  list-style-type: none;
}

.menu-link{
  font-weight: 700;
  font-size: 18px;
  color: #FF0000;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  text-decoration: none;
}

img{
  width: 100%;
  display: block;
}

.main-header{
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  padding: 48px 0 10px;
}

.main-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  padding: 28px 67px 0;
}

.main-button{
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FF0000;
  background-color: #FF0000;
  padding: 18px 43px;
  text-decoration: none;
}

.main-button-wrap{
  text-align: center;
  padding: 66px 0 82px;
}

.footer-item{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: right;
  padding: 0 105px 30px 0;
}